/* Imports */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  padding-top: 70px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background-color:gray;
}

.main-content {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

label {
  box-sizing: border-box;
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

.control-buttons {
  padding: 10px 20px;
}

#video {
  padding-top: 25px;
  
}

#video-box {
  position:relative;
  height:90%;
  padding-bottom:56.21%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.07);
}

#youtubeUrl {
  font-size: 18px;
  margin-right: 100px;
  color: black;
  border-radius: 3px;
  background-color: #abb7b7;
}

#urlBar {
  padding-top: 5px;
  height: 100%;
}

#nomad-chat {
  width: 100%;
  margin: 25px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

#users {
  width: 100%;
  margin: 25px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-color: #f9f9f9;
}

.user-list {
  padding: 20px 0px; 
  text-align: center;
}

.single-user {
  padding: 10px 5px;
  background-color: rgb(27, 165, 230);
  border-radius: 5px;
  color: white;
}

#chat-window {
  height: 580px;
  overflow: auto;
  background: #f9f9f9;
}

#single-message {
  padding-top: 14px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: rgb(27, 165, 230);;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

button {
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

.navbar button {
  padding: 10px;
  margin: 0 30px;
}

.footer {
  position: fixed;
  padding-top: 10px; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 245, 245);
  color: black;
  text-align: center;
}